django==4.0.6
djangorestframework==3.13.1 # https://github.com/sunscrapers/djoser/issues/541
django-filter==22.1
django_cors_headers==3.13.0
psycopg2-binary==2.9.3
black==22.6.0
Pillow==9.2.0
ipython==8.4.0
isort[requirements]==4.3.21
pylint==2.14.4
watchdog[watchmedo]==0.10.3
django-model-utils==4.2.0
sentry-sdk==1.7.0
celery==5.2.7
redis==4.3.4
gunicorn==20.1.0
djangorestframework-simplejwt==5.2.0
funcy==1.17
ipdb==0.13.9
aiogram==2.21
tzdata==2022.1