.modal
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: white
  z-index: 999999
  display: none
  height: 300px
  width: 300px

  &.opened
    display: block
