.container

  .main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    width: 80%
    margin: 20px auto
    max-width: 1500px
    border-radius: 20px
    background-color: white
    padding: 30px

    @media screen and (max-width: 400px)
      width: 70%
      padding: 10px
      justify-content: space-evenly

    @media screen and (max-width: 992px)
      width: 100%
      margin: 20px

  .addButton
    background-color: red
